%p
  %span{:class => 'folder_menu'}
    = image_tag('folder_add.png')
    = link_to 'Create a cabinet', new_cabinet_path(:page => @page)

- if @rest_cabinets.entries.size > 0
  %table
    %tr
      %td= 'Name'
      %td= 'Owner'
    - @rest_cabinets.entries.each do |entry|
      %tr{:class => cycle('even', 'odd')}
        - properties = entry['content']['properties']
        %td= properties['object_name']
        %td= properties['owner_name']
        %td= link_to image_tag('edit.png'), edit_cabinet_url(:id => properties['r_object_id'], :total => @total, :page => @page)
        %td= link_to image_tag('folders_and_documents.png', :alt => 'Folders and Objects'), sysobjects_path(:current_folder_id => properties['r_object_id'])
        %td= link_to image_tag('delete.png'), cabinet_path(:id => properties['r_object_id'], :total => @total, :page => @page), :method => :delete, :data => {:confirm => 'Are you sure?'}


  -#Pagination
  - if @rest_cabinets.has_first_link?
    = link_to 'first', cabinets_path(:page => 1)
  - if @rest_cabinets.has_previous_link?
    = link_to 'previous', cabinets_path(:page => extract_page(@rest_cabinets.find_link_by(Dctmclient::Resources::Link::RELATIONS[:previous]).href))
  - if @rest_cabinets.has_next_link?
    = link_to 'next', cabinets_path(:page => extract_page(@rest_cabinets.find_link_by(Dctmclient::Resources::Link::RELATIONS[:next]).href))
  - if @rest_cabinets.has_last_link?
    = link_to 'last', cabinets_path(:page => extract_page(@rest_cabinets.find_link_by(Dctmclient::Resources::Link::RELATIONS[:last]).href))


     

